hr {
    margin: 0;
}

.rodape {
    background-color: rgb(46, 90, 110);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

.lista-rodape {
    display: block;
}

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em;
    }

    .lista-rodape__link {
        color: rgb(95, 119, 126);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        font-size: 16px;
        color: rgb(112, 79, 128);
    }

    .rodape__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid rgb(233, 91, 91);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}